body {
    height:100%;
    margin:0;
}

* {
    box-sizing: border-box;
}

section {
    display: block;
}

/* Create two columns/boxes that floats next to each other */
.receipt {
    /*receipt*/
    float: left;
    width: 30%;
    height: 100%;
    background: #ccc;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.selection {
    /*menu*/
    float: right;
    width: 70%;
    background-color: lightblue;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
