@page
@model SPOS.Pages.MainPageModel
@{
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/mainPage.css")" rel="stylesheet" type="text/css" />
}

<script src="~/js/mainPage.js"></script>

    <section class="receipt_area">
        <div class="inside_receipt_area">
            <div class="receipt">
                <table id="receipt_table">
                    <tr style="background-color:lightblue">
                        <td style="width:10%;"></td>
                        <td style="width:60%;"></td>
                        <td style="width:15%;"></td>
                        <td style="width:15%;">Staff ID</td>
                    </tr>
                    <tr style="border-bottom: 2px solid black;background-color:lightblue">
                        <td class="id">ID</td>
                        <td class="description">Description</td>
                        <td class="cost">Cost</td>
                        <td class="qty">Qty</td>
                    </tr>
                </table>
            </div>
            <div class="payment">
                <button class="paymentBtn" onclick="location.replace('/Payment');" style="font-size:small">Proceed to Payment</button>
                <b class="total_price"> Total Price: <b id="total_price">€0.00</b></b>
                <button class="removeBtn" id="removeBtn" style="font-size:small" onclick="openModal()">Remove</button>  
            </div>
        </div>
    </section>

    <section class="selection">
        <div class="selectionArea">

        @if (Model.CategorySelection == null)
        {
            <form asp-page-handler="button" method="post">
                <input id="CategorySelection" asp-for="CategorySelection" hidden />
                @Html.Raw(Model.HtmlContext)
            </form>
            <button class="backBtn" onclick="location.replace('/');">Exit</button>
        }
        else
        {
            @Html.Raw(Model.HtmlContext)
            <button class="backBtn" onclick="location.replace('/MainPage');">Back</button>
        }
        </div>

        <!--MODAL FOR SELECTING NUMBER OF ITEMS TO REMOVE FROM RECEIPT- Shows on 'RemoveBtn'-->
        <div id="myModal" class="modal">
            <!--Modal content-->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div>
                    <input type="number" id="numberToDelete" style="font-size:42px;" min="1">
                    <br />
                    <button style="font-size:24px;" onclick="deleteSelectedFromReceipt()">Remove</button>
                </div>
            </div>
        </div>

    </section>
