@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Login</h1>

<form method="post">
    <input type="text" asp-for="Username" placeholder="Username" />
    <input type="password" asp-for="Password" placeholder="Password" />

    <br /><br />
    <button type="submit">Sign in</button>
    <br /><br />
    @Html.Raw(Model.ErrorMessage)
</form>